html, body {
  height:100%;
  min-height:100%;
  overflow: hidden;
}


body {
  font-family: sans-serif;
  background-color: #315481;
  background-image: linear-gradient(to bottom, #315481, #918e82 100%);
  background-attachment: fixed;

  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0;
  margin: 0;
  font-size: 12px;
        
  display: flex;
  flex-direction: column;
}

.container {
  flex: 1 1 auto;
  overflow-y: scroll;
}

header {
  background: #d2edf4;
  background-image: linear-gradient(to bottom, #d0edf5, #e1e5f0 100%);
  width: 100%;
  z-index: 200;
  flex: 0 0 auto;
}


.header_toggle_config_seiten{
  font-size: 20px;
  cursor: pointer;
}
.header_toggle_config_ausgaben{
  font-size: 20px;
  cursor: pointer;
  position: relative;
}
.header_config_ausgabe{
    font-size: 10px;
    display:none;
    padding: 5px 0px;
}
.ausgaben_list{
 
    width: 40%;   
}
.ausgaben_list li{
    float:left; 
 }
.ausgabe{
    display: inline-block;
    color: #555;
    background-color: #CCC;
    border: 1px solid #AAA;
    margin: 5px 3px;
    padding: 10px 10px;
    cursor: pointer;
    
}


.ausgabe_active{
    color: #000;
    background-color: #FFF;
    border: 1px solid #CCC;
}
.ausgaben_titel{
    font-size: 16px;
    font-weight: bold;
}
.ausgabe_delete{
 cursor: pointer;   
}
.neu_ausgabe{
 clear: left;   
}
.ausgabe_sort input{
 font-size: 11px;  
 margin-bottom: 5px;
}
.config_button{
 background-color: #CCC;
    padding: 3px 5px;
    cursor: pointer;
}

.right_column{
     overflow-x: auto;
     max-height: 85%;
    background-color: #d2edf4;
    margin: 10px;
    padding: 10px;
    position: fixed;
    right: 15px;
    width: 180px;
}

.seiten_config {
  display: none;
}
.config_element{
  float:left;
  margin: 5px 0;
    display: block;
}
 .filtered_task_list_container{    
    background-color: #d2edf4;
 }

 .seiten_list{
     width: calc(100% - 210px);
    float:left;  
 }

h1 {
  font-size: 1.5em;
  margin: 0;
  margin-bottom: 10px;
  display: inline-block;
  margin-right: 1em;
  width: 100px;
  float: left;
      padding: 10px;
}


form {
    margin: 0;
    padding: 0;
}

.new-task input {
  box-sizing: border-box;
  padding: 5px 0 0 0;
  background: transparent;
  border: none;
  width: 100%;
  padding-right: 80px;

}

 

.new-task input:focus{
  outline: 0;
}

 

ul {
  margin: 0;
  padding: 0;
}

 
.delete {
  background: none;
  font-size: 1em;
  border: none;
  position: relative;
  padding: 0 2px;
  cursor: pointer;
}
 .task-delete{
  cursor: pointer;
 }

.task_buttons{
  float: right;
  padding: 0;
height: 15px;
}

.task_header{
  float: left;
  padding: 2px 0 0 0;
 width: 105px;
line-height: 13px;
}

.task{ 
}
.toggle-edit,.toggle_log {
  font-weight: bold;
  background: none;
  font-size: 1em;
  border: none;
  padding: 0;
  cursor: pointer;
}


li {
  position: relative;
  list-style: none;
  padding: 15px;
}


li .text {
  margin-left: 10px;
}
 
.task_title{
 cursor: e-resize;  
}

 
.task_edit{
 display: none;  
    margin: 5px 0 5px 0;
    background: #eafcfb;
    line-height: 21px;
    cursor: default;
}

ul.task_log{
  display: none;
}

ul.task_log li{
  font-size: 9px;
  color: #AAA;
  padding: 0 !important;
  margin: 1px !important;
}

.seite_edit{
 display: none;  
margin: 5px 0 10px 0;
background: #eafcfb;
line-height: 25px;
padding: 5px;
}

.seite{
    background: #EEE;
    display: block;
    margin: 10px 5px;
    width: 155px;
    float: left;
    min-height: 280px;
    padding: 5px;
    user-select: none;
}

.page_break{
    clear: left;
}

.dropable{
    background-color: #DDD;
}


.seite .task_title_seite{
 display: none;   
}

.seite_tools{
  margin-top: 5px;
 font-size: 22px;   
  cursor: pointer;
    
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
.inactive{
    opacity: 0.3;
}
.active{
    opacity: 1;
}

ul.status_list{
 margin: 5px 0; 
}
ul.status_list li{
    display: inline;
    padding: 0;
    border: 0;
}
 
ul.task_list li{    
    padding: 1px 5px;
    margin: 5px 0;
    border: 0;
    background-color:#FFF;
}

ul.filtered_task_list li{
    padding: 5px 5px;
    margin: 5px 0;
    border: 0;
    background-color:#FFF;

}

ul.filtered_task_list .task_edit{
    display:none !important;
}

ul.filtered_task_list .task_title{
    display:inline-block !important;
}
ul.filtered_task_list .updated{
    display:inline-block !important;
}

ul.filtered_task_list .task_buttons{
    display:none !important;
}

.header_legend_filter{
    background-color: #CCC; 
}
.header_picture_filter{
    background-color: #CCC; 
}
 
 .updated{
  font-size: 9px;
     display: inline-block;
     color: #666;
 }

.next_status{
  background-color: #999;
  color: #FFF;
  padding:3px 6px;
  cursor: pointer;
}

.all_next_status{
  background-color: #999;
  color: #FFF;
  padding:3px 6px;
  cursor: pointer;
}

.select-status{
    margin: 2px 0 5px 0;
    width: 110px;
}

.picture_button{
    background-color: #e6e6e6; 
    padding: 2px 8px;
    cursor: pointer;
}

.picture_buttons{
    font-size: 11px;
    margin: 0 0 5px 0;
}
.picture_button_ok{
 background-color: #6dff6d;   
}

ul.status_total{
    text-align: right;
}

ul.status_total li{
 display: inline-block;
    font-size: 14px;
    font-weight: bold;
    padding: 0;
    margin: 5px 2px 2px 2px;   
    border: 0;
}
.header_status{
    font-weight: normal;
    padding: 2px 6px 2px 0px;
    display: block;
    font-size: 11px;
    margin-bottom: 3px;
}


.status_color0{
    background-color:#FFF;
}
.status_color1{
    background-color:#06d6a0;
}
.status_color2{
    background-color:#4bc1d0;
}
.status_color3{
    background-color:#60d45c;
}
.status_color4{
    background-color:#ff6a6a;
}
.status_color5{
    background-color:#f764b3;
}
    
.status_color6{
    background-color:#66c9fd;
}
    
.status_color7{
    background-color:#fcd059;
}
.status_color8{
    background-color:#f9ff6e;
}
    
.status_color9{
    background-color:#6dff6d;
}
    
.last-status{
    display:none;
}

[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  /* Required to make elements draggable in old WebKit */
  -khtml-user-drag: element;
  -webkit-user-drag: element;
}
    
@media (max-width: 600px) {


}