html, body {
  height:100%;
  min-height:100%;
  overflow: hidden;
}


body {
  font-family: sans-serif;
  background-color: #315481;
  background-image: linear-gradient(to bottom, #315481, #595959 100%);
  background-attachment: fixed;

  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0;
  margin: 0;
  font-size: 11px;

  display: flex;
  flex-direction: column;
}

body.planning_mode{
    background-color: #E3E3E3;
    background-image: none;
}
body.planning_mode ::placeholder{
    color: #888;
}
body.planning_mode .seite{
   width: 170px;
    background-color: white;
    border: 1px solid #000;
    padding: 0;
}
body.planning_mode .task{
    border-top: 1px solid #888;
    padding-bottom: 1px;
}
body.planning_mode .task_header,
body.planning_mode .task_buttons,
body.planning_mode .all_next_status,
body.planning_mode .task_status_list,
body.planning_mode .right_column,
body.planning_mode .seite_tools
{
    display: none;
}

body.planning_mode .seiten_list {
    width: 100%;
}
.task_planning{
    display: none;
}
body.planning_mode .task_planning{
    display: block;
}

body.planning_mode .task_dropable:before{
    height: 50px;
}

body.planning_mode .new-task,body.planning_mode .seite b{
    padding-left: 5px;
}


textarea{
    font-family: sans-serif;
}

.task_plan_title{
 font-weight: bold;
 font-family: helvetica, sans-serif;
}

.task_plan_date{
    border: none;
    width: 18px;
    font-size:10px;
}

.planning_dotted{
    border-bottom: 0.01em dotted #CCC !important;
    padding: 1px 5px;
}
.task_planning input{
    border:none;
    font-size: 11px;
}
.task_plan_title{
    width: 73%;
}
.task_plan_length{
    width: 21%;
}
.task_plan_desc{
    width: 100%;
    border: none;
    font-size: 11px;
}

.task_plan_author{
    width: 70%;
}
.task_plan_button{
    background-color: #eeeeee;
    color: #666;
    padding: 2px 5px;
    cursor: pointer;
    font-size: 11px;
}
.task_dragfield{
    float:right;
    margin-right: 5px;
    font-size: 14px;
    cursor: move;
}
.container {
  flex: 1 1 auto;
  overflow-y: scroll;
}

header {
  background: #d2edf4;
  background-image: linear-gradient(to bottom, #d0edf5, #e1e5f0 100%);
  width: 100%;
  z-index: 200;
  flex: 0 0 auto;
}
body.planning_mode header{
    background: #FFF;
    border-bottom: 1px solid black;
}


.header_right{
    right: 0;
    width: 65%;
    float: right;
    text-align: right;
}
body.planning_mode .header_right{
    width: 10%;
}
.header_menu_right{
    margin-left: 10px;
    vertical-align: top;
    padding-top: 5px;
    position: absolute;
    top: 0;
    right: 0;
}

body.planning_mode  .header_menu_right{
background-color: #FFF;
}
.header_menu_right li{
 display: inline;
    padding: 0 10px;
    border-right: 1px solid #888;
    vertical-align: top;
    float: right
}

.dont_show{
    display:none;
}
.header_menu_right li.header_toggle_config_seiten{
  font-size: 20px;
  cursor: pointer;
    display:none;
}

.header_menu_right li.header_toggle_config_ausgaben{
    display:none;
}

body.planning_mode .header_toggle_config_seiten{
display: block;
}


body.planning_mode .header_toggle_config_ausgaben{
display: block;
}

.header_toggle_config_ausgaben{
  font-size: 25px;
  cursor: pointer;
  position: relative;
    padding: 2px;
}

.header_config_ausgabe{
  display:none;
}
.header_config_border{
  border: 1px solid black;
  display: inline-block;
  float: left;
  margin: 3px;
  padding: 10px;
}
.ausgaben_config_section{
  float:left;
  width: 40%;
  border-left: 1px dotted #000;
  padding-left: 20px;
  margin: 7px;
}
.ausgaben_config_section:first-of-type{
border: 0;
padding: 0;
}
body.header_ausgaben_config .header_config_ausgabe .config_show{
      font-size: 12px;
      display:block;
      padding: 5px 0px;
}

.ausgaben_config{
  display: none;
}
.ausgabe_edit{
  display: none;
  font-size: 18px;
}
body.header_ausgaben_config.planning_mode .ausgabe_edit{
  display: inline;
}

li.ausgabe_vorlage{
  display: none;
}
body.header_ausgaben_config.planning_mode li.ausgabe_vorlage{
  display: block;
  background-color: #c3fbc3;
}

body.header_ausgaben_config.planning_mode li.ausgabe_active{
  background-color: #FFF;
  border: 1px solid #000;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.5);
}

body.header_ausgaben_config.planning_mode .ausgaben_config{
  display: block;
  width: 100%;
  border-top: 1px solid black;
  padding: 0 0 30px 15px;
  clear: left;
}

.seiten_config li{
  display: inline-block;
  padding: 5px 10px;
  border: 1px solid #000;
  margin: 0 15px 0 0;
}
.config_element{
  margin: 5px 0;
    display: block;
    line-height: 22px;
}
.config_element_title{
font-size: 16px;
font-weight: bold;
}
.config_element select{
  display: inline;
  border: 1px solid #ccc;
  background-color: #FFF;
}

.erscheinungsdatum{
  margin: 7px 0;
}

.header_toggle_planning_mode{
      cursor: pointer;
    font-size: 24px;
}
.ausgaben_list{
    width: 35%;
    float: left;
}
body.planning_mode .ausgaben_list{
    width: 90%;
}
.ausgaben_list li{
    float:left;
 }
.ausgabe{
    display: inline-block;
    color: #555;
    background-color: #DDD;
    border: 1px solid #AAA;
    margin: 5px 3px;
    padding: 3px 8px 3px 8px;
    cursor: pointer;

}


.ausgabe_active{
    color: #000;
    background-color: #FFF;
    border: 1px solid #000;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.3);
}
.ausgaben_titel{
    font-size: 15px;
    font-weight: bold;
}

.ausgaben_datum{
    font-size: 9px;
    display: block;
}

.ausgabe_delete{
 cursor: pointer;
}
.neu_ausgabe{
 clear: left;
}
.ausgabe_sort input{
 font-size: 11px;
 margin-bottom: 5px;
}
.config_button{
 background-color: #CCC;
    padding: 3px 5px;
    cursor: pointer;
}

.right_column{
     overflow-x: auto;
     max-height: 85%;
    position: fixed;
    right: 15px;
}


.right_column_element{
    background-color: #d2edf4;

    width: 180px;
    margin: 10px;
    padding: 10px;
}

 .filtered_task_list_container{
    background-color: #d2edf4;
 }

 .seiten_list{
     width: calc(100% - 230px);
    float:left;
     margin-left: 10px;
 }

.layout_tasks_container{
    margin: 10px;
}

.layout_task{
    margin: 7px 0;
    padding: 8px 10px;
    font-size: 11px;

  cursor: pointer;
    background-color: #FFF;

}
.layout_task_check{
    display: none;
    font-size: 20px;
    line-height: 8px;
}
.layout_task_done .layout_task_check{
    display: inline-block;
}

.layout_task_done{
    background-color: #cff2cf;
}
.ticket{
    background-color: #fff;
    margin: 5px 0;
    padding: 5px 8px;
}
.ticket_check,.ticket_alert, .ticket_edit, .ticket_delete{
    display:none;
    font-size: 15px;
    line-height: 10px;
    float: right;
}
.ticket_alert{
     display:none;
    font-size: 12px;
    float: right;
}
.ticket_open{
    cursor: pointer;
}
.ticket_open:hover{
   background-color: #EFEFEF;
}

.ticket_open:hover .ticket_check{
    display:inline;
}
.ticket_outbox{
    cursor: pointer;
}
.ticket_outbox:hover .ticket_delete{
    display:inline;
}
.ticket_outbox:hover .ticket_alert{
    display:inline;
}
.ticket_outbox:hover .ticket_edit{
    display:inline;
}
.ticket_outbox:hover .ticket_check{
    display:none;
}
.ticket_text_edit{
    width: 80%;
    display: none;
}
.ticket_done{
   background-color: #cff2cf;
}
.ticket_done .ticket_check{
    display:inline;
}
.ticket_done .ticket_alert, .ticket_done .ticket_edit {
    display:none !important;
}
.ticket_from{
    color: #AAA;
    margin-bottom:4px;
}
.tickets_category{
    margin-top: 15px;
}
.ticket_date{
    float:right;
}
.ticket_list{
  font-size: 10px;
}

.new_ticket_text{
  font-size: 11px;
}

h1 {
  font-size: 1.5em;
  margin: 0;
  margin-bottom: 10px;
  display: inline-block;
  margin-right: 1em;
  width: 100px;
  float: left;
      padding: 10px;
}


form {
    margin: 0;
    padding: 0;
}


.toggle-edit,.toggle_log,.toggle_showcase {
  font-weight: bold;
  background: none;
  font-size: 1em;
  border: none;
  padding: 0;
  cursor: pointer;
}

.toggle_showcase{
  font-size: 1.2em;
}
.big_showcase{
  font-size: 1.2em;
margin-right: 5px;
}


span.showcase_0{
  display:none;
}
.showcase_0{
  opacity: 0.3;
}
.showcase_1{
  opacity: 1;
}
.showcase_2{
  opacity: 1;
}

li {
  position: relative;
  list-style: none;
  padding: 15px;
}


li .text {
  margin-left: 10px;
}

.task_title{
 cursor: grab;
}


.task_edit{
 display: none;
    margin: 5px 0 5px 0;
    background: #eafcfb;
    line-height: 21px;
    cursor: default;
}

.task_title_edit{
  font-size:11px;
}

ul.task_log{
  display: none;
}

ul.task_log li{
  font-size: 9px;
  color: #AAA;
  padding: 0 !important;
  margin: 1px !important;
}

.seite_edit{
 display: none;
margin: 5px 0 10px 0;
background: #eafcfb;
line-height: 25px;
padding: 5px;
}

.seite{
    background: #EEE;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 140px;
    float: left;
    min-height: 280px;
    padding: 5px;
    user-select: none;
          position: relative;
}

.seite_desc{
    display: inline;
    margin-left: 5px;
}
body.planning_mode .seite_desc{
    display: none;
    font-size: 12px;
}
.seite_edit_desc_top{
    font-weight: bold;
    margin-left: 5px;
    display: none;
    width: 80%;
    border: none;
    background-color: transparent;
    font-family: helvetica,sans-serif;
}
body.planning_mode .seite_edit_desc_top{
    display: inline;
}
body.planning_mode .seite_edit_desc_top{
    display: inline;
}

body.planning_mode .buttons{

    display:none;
}
.seite_after{
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px 0;
    float: left;
    min-height: 280px;
    background-color: none;
    cursor: cell;
}

.seite_ungerade{
    width: 16px;
}
.seite_gerade{
    width:7px;
}
.seite_doppelseite{
    background-color: #ccc;
}
body.planning_mode .seite_doppelseite {
    background-color: #fff;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
body.planning_mode .seite_after {
    min-height: 270px;
}



.seite_pdf{
    background-color: #cff2cf;
}

.page_break{
    clear: left;
}

.dropable{
    background-color: #DDD;
}
.task_dropable{
    margin-top: 35px !important;
}
.task_dropable:before{
    content:" ";
    margin-top:-25px !important;
    height: 15px;
    display:block;
        border: 1px dotted black !important;
    margin-bottom: 10px;

}

body.planning_mode .task_dropable:before{
    content:" ";
    margin-top:-35px !important;
    height: 25px;
    display:block;
        border: 1px dotted black !important;
    margin-bottom: 10px;

}
.task_insert_here{

    border: 1px dotted black !important;
    height: 15px;
    margin: 5px 0;
}

.task_insert_end{
    background-color: transparent !important;
    height: 30px;
    display:none;
    border: 0 !important;
}

.seite .task_title_seite{
 display: none;
}

.seite_tools{
  margin-top: 5px;
 font-size: 20px;
  cursor: pointer;

  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
.inactive{
    opacity: 0.3;
}
.active{
    opacity: 1;
}

ul.status_list{
 margin: 5px 0;
}
ul.status_list li{
    display: inline;
    padding: 0;
    border: 0;
}

.task {
    padding: 1px 5px;
    margin: 5px 0;
    border: 0;
    background-color:#FFF;
}

body.planning_mode ul.task_list li {
    margin: 1px 0;
}

ul.filtered_task_list li{
    padding: 5px 5px;
    margin: 5px 0;
    border: 0;
    background-color:#FFF;

}

ul.filtered_task_list .task_edit{
    display:none !important;
}

ul.filtered_task_list .task_title{
    display:inline-block !important;
}
ul.filtered_task_list .updated{
    display:inline-block !important;
}

ul.filtered_task_list .task_buttons{
    display:none !important;
}

body.planning_mode .seite_bottom{
    border-top: 1px solid black;
}

.new-task{
    display: inline;
}

.new-task input {
  box-sizing: border-box;
  padding: 5px 0 0 0;
  background: transparent;
  border: none;
  width: 50%;
  font-size: 11px;
}

.new-task input:focus{
  outline: 0;
}

.add_inserat{
    padding: 2px 5px 2px 5px;
    margin: 2px 5px 0 0;
    background-color: #EEE;
    color: #999;
    float:right;
    cursor: pointer;
    display:none;
    font-size: 11px;
}
body.planning_mode .add_inserat{
    display:inline;
}
.seite_inserat{
    background-color: #666;
    margin-top: 3px;
    bottom: 0;
width: 100%;
position: absolute;
    display:none;
    left: 0;
}

.has_inserat{
    display:block;
}
 .has_no_inserat{
    display:none !important;
}

.seite.has_inserat{
    padding: 5px 5px 20px 5px !important;
    min-height: 265px;
}
 body.planning_mode .seite.has_inserat{
    min-height: 255px;

    padding: 0px 0px 25px 0px !important;
}
.seite_inserat input {
  box-sizing: border-box;
  padding: 2px 5px 2px 5px;
  background: transparent;
  border: none;
  width: 80%;
    color: white;
}
.seite_inserat input::placeholder {
    color: #ccc;
}

.remove_inserat{
        color: white;
    padding: 2px 5px 0 5px;
    float: right;
    cursor: pointer;
    display:none;
}
body.planning_mode .remove_inserat{
    display:inline;
}

ul {
  margin: 0;
  padding: 0;
}


.delete {
  background: none;
  font-size: 1em;
  border: none;
  position: relative;
  padding: 0 2px;
  cursor: pointer;
}
 .task-delete{
  cursor: pointer;
  font-size: 13px;
 }

.task_buttons{
  float: right;
  padding: 0;
height: 15px;
}

.task_header{
  float: left;
  padding: 2px 0 0 0;
 width: 105px;
line-height: 13px;
}

.task_option{
    background-color: #EFEFEF;
        padding: 2px 5px;
}

.remove_rf, .remove_picture{
    cursor: pointer;
}

.task_add_button{
    background-color: #DDD;
    padding: 2px 5px;
    cursor: pointer;
    border-radius: 25px;
    z-index: 998;
}

.task_add_dropdown{
    display:none;
    background-color: #DDD;
    position: absolute;
    z-index: 999;
}

.task_add_dropdown_button{
    margin: 0;
    padding: 4px 10px;
    cursor: pointer;
}
.task_add_dropdown_button:hover{
    background-color:#AAA;
}

.task_texttype_button{
  background-color: #D7F4F4;
  padding: 2px 5px;
  cursor: pointer;
  border-radius: 25px;
  z-index: 998;
}


.task_textsubmit_button{
  background-color: #ffef00;
  padding: 2px 3px;
  cursor: pointer;
  border-radius: 25px;
  z-index: 998;
}

.task_texttype_menu{
    display: none;
    background-color: #D7F4F4;
    position: absolute;
    z-index: 999;
    width: 230px;
}

.task_texttype_option{
    width: 99px;
    margin: 0 0 3px 3px !important;
    padding: 5px !important;
    float: left;
    background-color: #F4FFFF;
    cursor: pointer;
}
.task_texttype_option:nth-of-type(2){
    clear:left;
}

.task_texttype_option:hover{
    background-color:#e4fee3;;
}

.task_texttype_option_title{
  font-weight: bold;
  border-bottom: 1px dotted black;
  margin-bottom: 5px;
  display: inline-block;
}

.task_texttype_option li{
  padding: 0;
}

.task_texttype_title{
  font-weight:bold;
  padding: 5px;
  float: left;
}

.texttype_current,.texttype_current:hover{
    background-color:#c9ffc7;;
}

.task_texttype_close{
    cursor: pointer;
    float: right;
    margin: 3px 6px 0 6px;
    font-size: 16px;
}

.task_bottom{
    padding: 2px;
}

.task_collapse{
    color: #888;
    cursor: pointer;
    z-index: 998;
    float: right;
}
.header_legend_filter{
    background-color: #CCC;
}
.header_picture_filter{
    background-color: #CCC;
}

 .updated{
  font-size: 9px;
     display: inline-block;
     color: #666;
 }

.next_status{
  background-color: #999;
  color: #FFF;
  padding:2px 5px 1px 5px;
  cursor: pointer;
}

.all_next_status{
  background-color: #999;
  color: #FFF;
  padding:3px 6px;
  cursor: pointer;
}

.select-status{
    margin: 2px 0 5px 0;
    width: 90px;
    border: 1px solid #888;
    font-size:10px;
}

.select-web{
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 2px;
}

:disabled{
   color: black;
}

.picture_button{
    background-color: #e6e6e6;
    padding: 3px 8px 1px 8px;
    cursor: pointer;
}
.rf_button{
    background-color: #444;
    color: white;
    padding: 3px 8px 1px 8px;
    cursor: pointer;
    font-size: 11px;
}

body.planning_mode .task_functions{
    display:none;
}

.container.role_web .task_functions{
    display: block !important;
}




.picture_buttons{
    font-size: 11px;
    margin: 2px 0 5px 0;
    display: inline-block;
}

body.planning_mode .picture_buttons{
    display: none;
}
.picture_button_ok{
 background-color: #6dff6d;
}

body.planning_mode .header_status_total{
    display:none;
}

ul.header_status_total{
    display: inline-block;

    margin-right: 80px;
}

ul.header_status_total li{
 display: inline-block;
    font-size: 10px;
    font-weight: bold;
    padding: 0;
    margin: 5px 1px 2px 1px;
    border: 0;
}
.header_status{
    font-weight: normal;
    padding: 0px 5px 0px 0px;
    display: block;
    font-size: 10px;
    margin-bottom: 3px;
}


.header_currenttime{
    display:none;
}

.status_color0{
    background-color:#FFF;
}
.status_color1{
    background-color:#FFB9F1;
}
.status_color2{
    background-color:#06d6a0;
}
.status_color3{
    background-color:#4bc1d0;
}
.status_color4{
    background-color:#60d45c;
}
.status_color5{
    background-color:#ff6a6a;
}
.status_color6{
    background-color:#f764b3;
}

.status_color7{
    background-color:#66c9fd;
}

.status_color8{
    background-color:#fcd059;
}
.status_color9{
    background-color:#f9ff6e;
}

.status_color10{
    background-color:#6dff6d;
}

.last-status{
    display:none;
}


.web_color_{
    background-color:#FFF;
}
.web_color_mi{
    background-color:#9ad7fc;
}
.web_color_fr{
    background-color:#fffd80;
}
.web_color_mo{
    background-color:#ffda61;
}
.web_color_home{
    background-color:#7bd96c;
}
.web_color_ressort{
    background-color:#a5ff96;
}


    select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none; /* If you want to remove the border as well */
    background: none;
    }

[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  /* Required to make elements draggable in old WebKit */
  -khtml-user-drag: element;
  -webkit-user-drag: element;
}

      .no-web, .no-web *
    {
        display: none !important;

    }
.dont_display{
    display: none !important;
}
.do_display{
    display: inline-block;
}

@media (max-width: 600px) {


}

.strikethrough {
  position: relative;
}
.strikethrough:before {
  position: absolute;
  content: "";
  left: -2px;
  top: 50%;
  right: -2px;
  border-top: 2px solid;
  border-color: red;

  -webkit-transform:rotate(-15deg);
  -moz-transform:rotate(-15deg);
  -ms-transform:rotate(-15deg);
  -o-transform:rotate(-15deg);
  transform:rotate(-15deg);
}

.pulse_once {
  box-shadow: 0 0 0 rgba(255,106,106, 0.8);
  animation: pulse 2s 1;
}

.pulse_infinite {
  box-shadow: 0 0 0 rgba(255,106,106, 0.8);
  animation: pulse 2s infinite;
}
.pulse_infinite:hover {
  box-shadow: 0;
  animation: none;
}


@-webkit-keyframes pulse {
  0% {
            background-color: rgba(255, 230, 230, 1);
    -webkit-box-shadow: 0 0 0 0 rgba(255,106,106, 0.8);
  }
  70% {
            background-color: rgba(255,255,255, 1);
      -webkit-box-shadow: 0 0 0 10px rgba(255,106,106, 0);
  }
  100% {
            background-color: rgba(255,255,255, 1);
      -webkit-box-shadow: 0 0 0 0 rgba(255,106,106, 0);
  }
}
@keyframes pulse {
  0% {
      background-color: rgba(255, 230, 230, 1);
    -moz-box-shadow: 0 0 0 0 rgba(255,106,106, 0.8);
    box-shadow: 0 0 0 0 rgba(255,106,106, 0.4);
  }
  70% {
      background-color: rgba(255,255,255, 1);
      -moz-box-shadow: 0 0 0 10px rgba(255,106,106, 0);
      box-shadow: 0 0 0 10px rgba(255,106,106, 0);
  }
  100% {
      background-color: rgba(255,255,255, 1);
      -moz-box-shadow: 0 0 0 0 rgba(255,106,106, 0);
      box-shadow: 0 0 0 0 rgba(255,106,106, 0);
  }
}

@media print
{

    body{
    width:100%;
    height:100%;
        background-color: white !important;
    }

    @page { margin: 1cm; }

    .header_currenttime{
    display:inline;
        font-size: 10px;
        float: right !important;
    }

    .task_planning input {
    font-size: 8px  !important;
  }

    .ausgabe_active{
        box-shadow: none !important;
      }

    .seiten_break_7 .seite{
        width: 12.7% !important;
    }

    .seiten_break_8 .seite{

        width: 11% !important;
    }
    .seite,  .seite *{

        font-size: 6pt;
    }

    .seite{
        min-height: 370px !important;
    }
    .seite_after{
        min-height: 360px !important;
    }

    .seite.has_inserat{
        min-height: 345px !important;
    }
    .seite_gerade{
        width: 6px !important;
    }

    .ausgabe{
        display:none;
    }
    .ausgabe_active{
        display:block;
        border: 0;
    }
     .ausgaben_datum{
    font-size: 16px;
    display: inline;
         margin-left: 20px;
    }

    .ausgabe_inline{
        display: inline-block !important;
    }

    input:placeholder-shown, textarea:placeholder-shown{
        display:none;
    }


      .no-print, .no-print *
    {
        display: none !important;

    }
      .no-web, .no-web *
    {
        display: inline !important;

    }

    ul.task_list li {
        background-color: transparent !important;
    }
    .container.role_web .task_plan_desc{
        display: none !important;
    }
    .showcase_0{
        display: none !important;
    }

    .showcase_1, .showcase_2 {
        font-size: 14px;
    }

    .select-web {
        font-size: 10px;
    }


}
